@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background-color: #ffeedf;
    font-family: 'Inter';
}

main.container, header.intro {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

a {
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover {
    border-bottom: none;
}

/* <------ INTRO ------> */
.intro .textIntro{
    margin: auto;
}

.intro {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 64px 0;
    height: 100vh;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro h1 {
    font-size: 64px;
}

.intro a {
    color: black;
    margin-right: 16px;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.avatar {
    display: flex;
    text-align: center;
    align-items: center;
}

.avatar img {
    margin: auto;
    height: 500px;
}

/* <------ PROJECTS ------> */

.coffe {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 64px;
    border-bottom: 1px solid;
    padding-bottom: 64px;
}

.coffe .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    color: #000043;
}

.coffe .text p {
    color: #252558;
}

.projects .coffe a {
    color: black;
}

.coffe .image img {
    width: 100%;
}

.coffe .image {
    text-align: center;
}


/* <------ RESPONSIVE ------> */
@media (width < 1000px){
    .intro {
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
    }

    .intro ul{
        justify-content: center;
    }
    
    .coffe {
        grid-template-columns: 100%;
    }

    .coffe .text {
        margin-bottom: 64px;
    }

    .text header, footer {
        text-align: center;
    }
}